
<br/>

<div class="small-offset-2 small-8">
  <h1>Add New Meeting</h1>

  <div class="panel">
    <h4>Please read this important information</h4>
    <br/>

    Instead of adding information on a week basis, you will be adding a meeting which will
    be assembled in the future into weeks, months and etc.

  </div>


  <form method="post" action="meeting/create">

    <label>
      When this meeting happenned? (mm/dd/yyyy)
      <input class="datepicker" type="text" name="date"/>
    </label>

    <label>
      What time it has started? (hh:mm)
      <input class="timepicker" type="text" step="1" name="start_time"/>
    </label>

    <label>
      What time it has finished? (hh:mm)
      <input class="timepicker" type="text" step="1" name="end_time"/>
    </label>

    <label>
      Task
      <textarea name="description" rows="6"></textarea>
    </label>

    <input type="submit" class="button" value="Submit Meeting" />
  </form>
</div>

<script>

  jQuery('.datepicker').datetimepicker({
    format:'m/d/Y',
    timepicker:false,
    lang:'en'
  });

  jQuery('.timepicker').datetimepicker({
    format:'H:i',
    datepicker:false,
    lang:'en'
  });

</script>
