<div class="row">
  <div class="large-offset-3 medium-offset-2 small-offset-1">
    <img src="/img/backgrounds/500.png" width="600"/>
  </div>
</div>

<div class="row">
  <div class="large-offset-3 medium-offset-2 small-offset-1">
    <h3 style="color:white">Houston... we have troubles... </h3>
  </div>
</div>

<br/><br/><br/>
