<!DOCTYPE html>
<html>
  <head>
    <title>Mars Rover Web-Site</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" data-menu-top="100">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/marsrover.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/js/datetimepicker/jquery.datetimepicker.css">
    <!--STYLES END-->
  </head>



  <body>



    <div class="sticky" data-0="opacity:1;" data-100="opacity:0;">
        <nav class="top-bar"  data-topbar role="navigation" data-options="sticky_on:large">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Olympus Team</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">

              <li><a href="/">News</a></li>

              <li class="has-dropdown">
                <a href="#">Our Sponsors</a>
                <ul class="dropdown">
                  <li><a href="/sponsors">Current Sponsors</a></li>
                  <li><a href="/sponsor/add">Become One</a></li>
                </ul>
              </li>

              <li class="has-dropdown">
                <a href="#">About</a>
                <ul class="dropdown">

                  <li class="has-dropdown">
                    <a href="#">About Competition</a>
                    <ul class="dropdown">
                      <li><a href="/about/traversal">Terrain Traversal Task</a></li>
                      <li><a href="/about/assistance">Astronaut Assistance Task</a></li>
                      <li><a href="/about/servicing">Servicing Task</a></li>
                      <li><a href="/about/science">Science Task</a></li>
                    </ul>
                  </li>
                  <li><a href="/about/team">About Our Team</a></li>
                  <li><a href="/about/cs">Computer Science Senior Design Page</a></li>
                </ul>
              </li>

            </ul>

            <ul class="right">
              <%

               if (req.session.auth){

               %><li><a href="/user/edit/<%=req.session.user.id%>"><img src="<%= req.session.user.avatar_url %>" style="height:35px;display:inline;">&nbsp;<%= req.session.user.first_name %></a></li><%
                 if (req.session.admin || req.session.team_leader){

                   var title = "Admin"

                   if (req.session.admin == false) title = "Team Leader"

                   %>

                    <li class="has-dropdown"><a href="#" class="label success"><%= title %></a>

                      <ul class="dropdown">

                        <li><a href="/sponsor/manage">Sponsor Requests</a></li>

                        <%
                          if (req.session.admin){%>
                        <li><a href="/users/manage">Manage Users</a></li>
                        <li><a href="/articles/manage">Manage Articles</a></li>
                         <% } %>

                      </ul>
                    </li>
                <%}%>
                 <li><a href="/auth/logout">Logout</a></li>

              <%
               } else { %>


                  <li><a href="#" data-reveal-id="loginModal">Log In</a></li>


              <%
               }%>

            </ul>
          </section>
        </nav>
    </div>

    <%

      // Handle Errors
      if (req.session.flash){

        %>
        <div data-alert class="alert-box info radius">
          <%= req.session.flash %>
          <a href="#" class="close">&times;</a>
        </div>

        <%

          req.session.flash = null;
      }

       %>


    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!-- Parallax JS Set -->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/vendor/jquery.cookie.js"></script>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/placeholder.js"></script>
    <script src="/js/vendor/skrollr.min.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.abide.js"></script>
    <script src="/js/foundation/foundation.accordion.js"></script>
    <script src="/js/foundation/foundation.alert.js"></script>
    <script src="/js/foundation/foundation.clearing.js"></script>
    <script src="/js/foundation/foundation.dropdown.js"></script>
    <script src="/js/foundation/foundation.equalizer.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
    <script src="/js/foundation/foundation.joyride.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.offcanvas.js"></script>
    <script src="/js/foundation/foundation.orbit.js"></script>
    <script src="/js/foundation/foundation.reveal.js"></script>
    <script src="/js/foundation/foundation.slider.js"></script>
    <script src="/js/foundation/foundation.tab.js"></script>
    <script src="/js/foundation/foundation.tooltip.js"></script>
    <script src="/js/foundation/foundation.topbar.js"></script>
    <script src="/js/datetimepicker/jquery.datetimepicker.js"></script>
    <!--SCRIPTS END-->



    <div id="skrollr-body">


    <%- body %>

    <% if (!req.session.auth){ %>
    <div id="loginModal" class="reveal-modal" data-reveal>

      <div class="panel">
        <h5>Registration</h5>
        <span>Registration is required for team members and related entities such as Sponsors and Advisers. Registration doesn't give any privilege
        unless you are manually approved. We are also not going to post anything on your social profile or anyhow indicate your registration on that web-site, unless you are related to the team.
        </span>
      </div>

      <h4>Please choose your login method</h4>

      <a href="/auth/login/facebook" class="button"><span class="fa fa-facebook"></span>&nbsp;Login with Facebook</a>
      <a href="/auth/login/google" class="button"><span class="fa fa-google-plus"></span>&nbsp;Login with Google</a>

    </div>
    <% } %>



    </div>




      <%if (req.param('code') == 6271994) { %>


        <div id="parallax-earth"  style="position:fixed;bottom:0px;left:0%;background-size: contain;width:100%;height:50%;background-image:url('/img/invasion/earth.png');background-position: 50% 100%;background-repeat:no-repeat;z-index:0;"></div>
        <div id="parallax-humans"
             data-top="opacity:1;bottom:0px;"
             data-500="opacity:0;bottom:130px;"
             style="position:fixed;left:0%;bottom:0px;background-size:contain;width:100%;height:50%;background-image:url('/img/invasion/humans.png');background-position: 50% 100%;background-repeat:no-repeat;z-index:0;"></div>

        <div
          data-top="opacity:1;bottom:0px;"
          data-500="opacity:0;bottom:100px;"
          id="parallax-ufo" style="position:fixed;bottom:0px;left:0%;background-size: contain;width:100%;height:50%;background-image:url('/img/invasion/ufo.png');background-position: 50% 100%;background-repeat:no-repeat;z-index:0;"></div>


      <%}%>


    <script>
      $(document).foundation();
      var s = skrollr.init({forceHeight: true, skrollrBody: 'skrollr-body'});
    </script>

    <script src="/js/local/marsrover.js"></script>

  </body>
</html>
