<br/>
<br/>


<%if (query_user && (query_user.id == req.session.user.id || req.session.admin)){

  var majors = new Array("Aerospace Engineering", "Aerospace and Mechanical Engineering", "Software Engineering", "Computer Science", "Mechanical Engineering", "Not specified");
  var subgroups = new Array('UAV', 'Arm', 'Rover', 'Controls', 'Team Leader', 'Not specified');


%>
<div class="row">
  <div class="large-10 large-offset-1 columns">



    <div class="row">
      <div class="large-4 small-12 columns"><img src="<%=query_user.avatar_url%>" style="height:150px" class="right" /></div>

      <div class="large-8 small-12 columns">
        <h3 class="left"><%=query_user.last_name +" "+query_user.first_name%></h3><br/><br/>
        <div class="left">
          <%
            // If team member, print Major and subgroup
          if (query_user.team_member){
          %>
          <%=query_user.subgroup%>&nbsp;-&nbsp;<%=query_user.major%>
          <%
          }
          %>
        </div><br/>

              <span class="left">
                <%
                if (query_user.team_member){
                %>
                <span class="label round success">Team Member</span>
                <%
                }

                if (query_user.team_leader){
                %>
                <span class="label round info">Team Leader</span>
                <%
                }
                if (query_user.admin){
                %>
                <span class="label round alert">Administrator</span>
                <%
                }
                if (query_user.verified){
                %>
                <span class="label round warning">Verified User</span>
                <%
                }
                %>
              </span>

      </div>

    </div>





  </div>
</div>

<br/>

<div class="row">
  <div class="large-4 small-12 columns">
    <h4 class="right">ABOUT</h4>
  </div>
  <div class="large-8 small-12 columns">
    <form method="post" action="/user/<%=query_user.id%>">
      <textarea name="about" rows="10"><%=query_user.about%></textarea>

      <% if (req.session.admin){
      %>

        <label>Verified: <input type="checkbox" name="verified" <%=query_user.verified ? 'checked' : '' %>/></label>
        <label>Team Leader: <input type="checkbox" name="team_leader" <%=query_user.team_leader ? 'checked' : '' %>/></label>
        <label>Team Member: <input type="checkbox" name="team_member" <%=query_user.team_member ? 'checked' : '' %>/></label>
        <label>Blacklisted: <input type="checkbox" name="blacklisted" <%=query_user.blacklisted ? 'checked' : '' %>/></label>


      <%}%>


      <label>Subgroup:
        <select name="subgroup">
          <%_.each(subgroups, function(subgroup){
          %>
          <option value="<%=subgroup%>" <%= query_user.subgroup == subgroup ? 'selected' : '' %>><%=subgroup%></option>
          <%
          })%>
        </select>
      </label>




      <label>Major:
        <select name="major">
          <%_.each(majors, function(major){
              %>
                <option value="<%=major%>" <%= query_user.major == major ? 'selected' : '' %>><%=major%></option>
              <%
            })%>
        </select>
      </label>





    <input type="submit" class="button" value="Save Changes">
    </form>
  </div>
</div>


<br/>



<!-- END -->
<%
}%>

