<%
// Static Data
var majors = new Array("Aerospace Engineering", "Aerospace and Mechanical Engineering", "Software Engineering", "Computer Science", "Mechanical Engineering", "Not specified");
var subgroups = new Array('UAV', 'Arm', 'Rover', 'Controls', 'Team Leader', 'Not specified');

%>

<br/>
<br/>
<h3 style="margin-left: 40px;">PENDING USERS</h3>
<%_.each(pending_users, function(user){%>

    <div class="row">

      <form action="/user/<%=user.id%>" method="post">


        <div class="large-4 column">
          <%=user.last_name+" "+user.first_name%><br/>

          <img src="<%=user.avatar_url%>" style="max-width: 150px" />
          <br/>
        </div>

        <div class="large-8 column">


          <label>Verified: <input type="checkbox" name="verified" <%=user.verified ? 'checked' : '' %>/></label>
          <label>Team Leader: <input type="checkbox" name="team_leader" <%=user.team_leader ? 'checked' : '' %>/></label>
          <label>Team Member: <input type="checkbox" name="team_member" <%=user.team_member ? 'checked' : '' %>/></label>
          <label>Blacklisted: <input type="checkbox" name="blacklisted" <%=user.blacklisted ? 'checked' : '' %>/></label>



          <label>Subgroup:
            <select name="subgroup">
              <%_.each(subgroups, function(subgroup){
              %>
              <option value="<%=subgroup%>" <%= user.subgroup == subgroup ? 'selected' : '' %>><%=subgroup%></option>
              <%
              })%>
            </select>
          </label>




          <label>Major:
            <select name="major">
              <%_.each(majors, function(major){
              %>
              <option value="<%=major%>" <%= user.major == major ? 'selected' : '' %>><%=major%></option>
              <%
              })%>
            </select>
          </label>

          <input type="submit" class="button" value="Save" />
        </div>
      </form>

    </div>

  <%})%>



<!-- For Verified Users -->

<%
// Static Data
var majors = new Array("Aerospace Engineering", "Aerospace and Mechanical Engineering", "Software Engineering", "Computer Science", "Mechanical Engineering", "Not specified");
var subgroups = new Array('UAV', 'Arm', 'Rover', 'Controls', 'Team Leader', 'Not specified');

%>

<br/>
<br/>
<h3 style="margin-left: 40px;">VERIFIED USERS</h3>
<%_.each(verified_users, function(user){%>

<div class="row">

  <form action="/user/<%=user.id%>" method="post">


    <div class="large-4 column">
      <%=user.last_name+" "+user.first_name%><br/>

      <img src="<%=user.avatar_url%>" style="max-width: 150px" />
      <br/>
    </div>

    <div class="large-8 column">


      <label>Verified: <input type="checkbox" name="verified" <%=user.verified ? 'checked' : '' %>/></label>
      <label>Team Leader: <input type="checkbox" name="team_leader" <%=user.team_leader ? 'checked' : '' %>/></label>
      <label>Team Member: <input type="checkbox" name="team_member" <%=user.team_member ? 'checked' : '' %>/></label>
      <label>Blacklisted: <input type="checkbox" name="blacklisted" <%=user.blacklisted ? 'checked' : '' %>/></label>



      <label>Subgroup:
        <select name="subgroup">
          <%_.each(subgroups, function(subgroup){
          %>
          <option value="<%=subgroup%>" <%= user.subgroup == subgroup ? 'selected' : '' %>><%=subgroup%></option>
          <%
          })%>
        </select>
      </label>




      <label>Major:
        <select name="major">
          <%_.each(majors, function(major){
          %>
          <option value="<%=major%>" <%= user.major == major ? 'selected' : '' %>><%=major%></option>
          <%
          })%>
        </select>
      </label>

      <input type="submit" class="button" value="Save" />
    </div>
  </form>

</div>

<%})%>

