<br/>
<br/>
<%if (query_user){
%>
  <div class="row">
    <div class="large-10 large-offset-1 columns">



          <div class="row">
            <div class="large-4 small-12 columns"><img src="<%=query_user.avatar_url%>" style="height:150px" class="right" /></div>

            <div class="large-8 small-12 columns">
              <h3 class="left"><%=query_user.last_name +" "+query_user.first_name%></h3><br/><br/>
              <div class="left">
                <%
                 // If team member, print Major and subgroup
                  if (query_user.team_member){
                    %>
                    <%=query_user.subgroup%>&nbsp;-&nbsp;<%=query_user.major%>
                  <%
                  }
                  %>
              </div><br/>

              <span class="left">
                <%
                  if (query_user.team_member){
                  %>
                    <span class="label round success">Team Member</span>
                  <%
                  }

                  if (query_user.team_leader){
                  %>
                    <span class="label round info">Team Leader</span>
                  <%
                  }
                  if (query_user.admin){
                  %>
                    <span class="label round alert">Administrator</span>
                  <%
                  }
                  if (query_user.verified){
                  %>
                    <span class="label round warning">Verified User</span>
                  <%
                  }
                 %>
              </span>

            </div>

          </div>





    </div>
  </div>

  <br/>
  <div class="row">
    <div class="large-4 small-12 columns"><h4 class="right">ABOUT</h4></div>
    <div class="large-8 small-12 columns"><div class="panel"><%=query_user.about%></div></div>
  </div>

  <br/>



<!-- END -->
<%
}%>

