<div class="row">
  <div class="large-8 medium-10 small-8 large-offset-2 medium-offset-1 columns">

    <div class="panel info">
      <h6>Formatting an article</h6>
      <br/>
      You can format your article using HTML. If you don't know what is HTML and how to use it, spend 5 minutes reading <a href="http://www.w3schools.com/html/">this</a>.
      You need only basics. Do not try to use scripts and other potential threats. Administration is reviewing articles in plain text from the database, thus any attempt will
      be detected, and the user will be blacklisted. You have been warned. If you want to use pictures, upload them to <a href="http://imgur.com/"> Imgur </a> and insert them as HTML here.

      If you want to see how your article will look like, go ahead and try it here: <a href="http://jsfiddle.net/">JS Fiddle</a>. In fact, you can create it there and then copy HTML here.<br/>




    </div>

    <form method="post" action="/article">
      <div class="row">
        <label>
          Title:
          <input type="text" name="title" placeholder="Title for the article">
        </label>
      </div>

      <div class="row">
        <label>
          Main Text:
          <textarea name="text" rows="10" placeholder="Text for the article"></textarea>
        </label>
      </div>

      <div class="row">
        <input type="submit" class="button medium" value="Submit Article">
      </div>


    </form>


  </div>
</div>
