<br/>
<br/>

<div class="row">

  <div class="large-8 small-12 large-offset-2 medium-10 medium-offset-1">

    <form action="/article/<%= article.id %>" method="post">

      <div class="row">
        <label>
          Article Title
          <input type="text" name="title" value="<%= article.title %>"/>
        </label>
      </div>

      <div class="row">
        <label>
          Text
          <textarea name="text" placeholder="Enter article's text here, use HTML tags to add pictures and embed media" maxlength="10000" rows="10"><%= article.text %></textarea>
        </label>

      </div>

      <% if(req.session.admin ) {

        %>
          <label>
            Verified:
            <input type="checkbox" name="verified" <%= (article.verified == true) ? 'checked' : '' %>/>
          </label>
        <%

      }%>


      <input type="submit" value="Save Changes" class="button medium" />


    </form>

  </div>
</div>
