<br/><br/><br/>


<% _.each(articles, function(article){%>


<div class="row">
  <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 columns">

    <div class="row">
      <h4 class="subheader"><%= article.title %></h4>
    </div>

    <div class="row">
      <div>

        <%- article.text %>

      </div>
    </div>

    <div class="row">

      <% if (req.session.admin || req.session.team_leader){
      %>

      <a class="button tiny expand" href="/article/<%= article.id %>">Edit Article</a>
      <form action="article/delete/<%=article.id%>" method="delete"><input type="submit" class="button tiny alert expand" href="/article/<%= article.id %>"  value="Delete Article"/></form>
      <%
      } %>
    </div>

    <hr />

  </div>
</div>


<%}); %>



<%

if ( (req.session.verified && req.session.team_member) || req.session.admin){
%>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <a href="/article/add" class="button expand small"><span class="fa fa-plus"></span>&nbsp; ADD AN ARTICLE </a>
  </div>
</div>

<%
}

%>



<div class="row">

  <% if (hasOlder && articles.length > 0){ %>
  <div class="large-2 columns"><a class="button" href="/articles/<%=page+1%>">OLDER</a></div>
  <% }

  if (hasNewer && articles.length > 0){ %>
  <div class="large-2 large-offset-8 columns"><a class="button" href="/articles/<%=page-1%>">NEWER</a></div>
  <% } %>
</div>



