<% _.each(articles, function(article){

%>

  <div class="row">
    <div class="large-6 columns">
      <a href="/article/<%=article.id%>"><%=article.title%></a>
    </div>
    <div class="large-2 columns">
      <a href="/user/<%=article.author%>" class="button small">View Author</a>
    </div>

    <div class="large-2 columns">
      <form method="post" action="/article/<%=article.id%>">
        <input type="hidden" value="true" name="verified"/>
        <input type="submit" class="button small" value="Approve">
      </form>
    </div>
    <div class="large-2 columns">
      <form method="delete" action="/article/<%=article.id%>">
        <input type="submit" class="button alert small" value="Delete">
      </form>
    </div>
  </div>




<%

})%>
