<br/>
<br/>

<div class="row">
  <div class="large-8 large-offset-2 columns">
    <h3>Thank you for considering to sponsor us!</h3>

    <div class="panel">

      <h4>Important information</h4>

      You can get familiar with sponsorship groups using the slider below. If for some reason that doesn't work
      for you, please follow <a href="/documents/sponsorship_packet.pdf">a link to Sponsorship Packet</a> to find out about
      sponsoring options.

    </div>


    <h4 class="subheader">Drag the slider to find out about sponsorship options</h4>

    <br/>
    <div id="fund-slider" class="range-slider" data-slider data-options="start: 100; end: 2000;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
      <input type="hidden">
    </div>
    <h1 class="text-center" style="color:darkorange" id="fund-value">$10</h1>
    <div class="panel" id="fund-description">
      This will help us
    </div>

    <br/><br/><br/>

    <h1>Sponsorship Offer Form</h1>
    <form action="/sponsor" method="post">

      <input type="hidden" name="sponsorship_level" value="Mercury" />

      <label>
        What is your name or the name of your company?
        <input type="text" name="name" placeholder="Florida Institute of Technology, College of Engineering" />
      </label>


      <label>
        Please tell us about you or your company:
        <textarea name="about" placeholder="Florida Institute of Technology is an international school..."></textarea>
      </label>


      <label>
        Tell us about what you would like to donate?
        <textarea name="donation_description" placeholder="Money (with amount)/ Parts / Discount on Parts"></textarea>
      </label>

      <label>
        Please provide a link to your company logo:
        <input type="text" name="company_picture_url" id="sponsor-pic-url" placeholder="Florida Institute of Technology, College of Engineering" />
      </label>

      <label>Logo Preview:</label>
      <img src="/img/icons/sample_company.png" id="sponsor-pic" width="200" />
      <br/><br/><br/>
      <label>
        How can we contact you to talk about sponsorship?
        <textarea name="contact_info" placeholder="Email: samples@example.com, Phone: 321 321 1234"></textarea>
      </label>

      <br/>
      <input type="checkbox" name="show_contact_info"> Do you want contact information to be public?</input><br/>
      <input type="checkbox" name="show_donation_description"> Do you want us to publish your donation?</input>

      <br/><br/>

      <input type="submit" class="button small" value="Submit" />

    </form>
  </div>
</div>


<script>
  $('#fund-slider').on('change.fndtn.slider', function(){
    var value = $('#fund-slider').attr('data-slider');

    var suffix = '';

    if (value == 2000){
      suffix = ' and more'
    } else if (value == 100) {
      suffix = ' and less'
    }

    $("#fund-value").html('$'+value+suffix);

    var title = 'Mercury level'
    var benefit = "<br/>- Honorable mention on website"



    if (value > 100){
      title = 'Gemini level'
      benefit += "<br/>- Larger logo on the web-site, in the top.";
    }

    if (value > 250){

      title = 'Apollo level'
      benefit += "<br/>- Framed Photo";

    }

    if (value > 500){

      title = 'Skylab level'
      benefit += "<br/>- Company logo on the rover<br/>- Private driving days with rover and photo at FIT";

    }

    if (value > 1000){

      title = 'Space Shuttle level'
      benefit += "<br/>- Large logo on car<br/>- Even larger photo on the web-site<br/>- Logo on our apparel<br/>- Feature in FIT alumni newsletter"


    }

    if (value >= 2000){

      title = 'Space Station level'
      benefit += "<br/>- Apparel sent to you with our & your logo";

    }

    // Update the view
    $("#fund-description").html('<h3>'+title+'</h3>'+benefit);
  });


</script>


<script>
  $("#sponsor-pic-url").change(function(){

    var url = $("#sponsor-pic-url").prop('value');

    if (url == ''){
      url = '/img/icons/sample_company.png'
    }

    $("#sponsor-pic").attr('src', url);
  })
</script>
