<br/>
<br/>
<%
var groups = ['Space Station', 'Space Shuttle', 'Skylab', 'Apollo', 'Gemini', 'Mercury'];
for (var i=0;i<sponsors.length;i++){
  if (sponsors[i].sponsors.length == 0) continue;
  %>
  <div class="row">
    <div class="large-12 medium-12 small-12">
      <h1 style="color:#68B0FF;text-transform: uppercase"><%=groups[i]%> level sponsors</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12">



      <%// Calculate the amount of items in the grid
      var grid_size = i+3

      if (grid_size > 5){
        grid_size = 5;
      }

      %>
      <ul class="large-block-grid-<%=grid_size%> medium-block-grid-<%=grid_size-1%> small-block-grid-<%=grid_size-2%>">

      <%_.each(sponsors[i].sponsors, function(sponsor){%>
      <li><ul class="pricing-table">
        <li class="title"><img src="<%=sponsor.company_picture_url%>"></li>
        <li class="title"><%=sponsor.name%></li>
        <li class="description"><%=sponsor.about%></li>
        <%if(sponsor.show_contact_info){%>
          <li class="description"><%=sponsor.contact_info%></li>
        <%}%>
        <%if(sponsor.show_donation_description){%>
          <li class="description"><%=sponsor.donation_description%></li>
        <%}%>
      </ul>
      </li>
      <%});%>
      </ul>

    </div>
  </div>

<%}%>
