
<div class="row">
  <div class="large-10 large-offset-2">
    <h1>ASTRONAUT ASSISTANCE TASK</h1>
  </div>
</div>

<div class="row">
  <div class="large-8 large-offset-2 columns">



    In the astronaut assistance task we need to get instruments to the astronaut as fast as possible. In this competition,
    we will utilize both, UAV and Rover to achieve maximum performance in delivering tools.

    <br/><br/>
    <h4 class="subheader">SCROLL DOWN TO LEARN MORE</h4>

  </div>

</div>


<div id="parallax-scene" style="min-height: 640px; position:relative;width:100%;height:100%;">
  <img id="parallax-jupiter"
       data-anchor-target="#parallax-scene"
       data-200="left:80%"
       data-600="left:78%"
       src="/img/common/jupiter.png" width="200" height="200" style="position: absolute;left:60%;top:20%" />

  <div style="background-color: #C05730;position:absolute;width:140%;height:40%;top:70%" ></div>

  <img id="parallax-crates"
       data-anchor-target="#parallax-scene"
       data-200="left:20%"
       data-600="left:10%"
       src="/img/parallax/crates_row_back.png"  style="position:absolute;left:20%;top:75%" />
  <img id="parallax-satellite"
       data-anchor-target="#parallax-scene"
       data-200="left:30%"
       data-600="left:35%"
       src="/img/common/satellite.png" width="200" height="200" style="position: absolute;left:20%;top:20%" />
  <img id="parallax-astro"
       data-anchor-target="#parallax-scene"
       data-200="left:120%"
       data-600="left:80%"


       src="/img/common/astronaut.png" width="150"  style="position:absolute;left:200%;bottom:0%" />
  <img id="parallax-rover"
       data-anchor-target="#parallax-scene"
       data-200="left:0%"
       data-600="left:75%"
       src="/img/common/rover.png" height="150" width="150" style="position: absolute;left:10%;top:85%" />
</div>


<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row">

  <div class="large-8 large-offset-2 small-10 small-offset-1">

    <h2>More about this task....</h2>

    The astronaut assistance task is a simulation of a rover helping an astronaut complete field work while on mars. The goal of the task is to locate, retrieve, and deliver various pieces of equipment. Scoring will be based on time, number of objects delivered correctly, and signal quality. GPS coordinates and descriptions of the equipment will be given to each team. There will be two different types of equipment deployment: supplies and a signal repeater.

    The supply deployment will consist of retrieving specific tools and delivering them to designated astronauts. Tools will either be simple hand tools or supply canisters weighing up to 5kg. The item must be retrieved and delivered to an astronaut which will be simulated by an inflatable space suit. GPS coordinates accurate up to 25m will be given for the astronauts. A successful delivery occurs when the item is placed within 1m of the astronaut.

    For the signal repeater deployment, each team will have to place a wireless repeater in the field so that it establishes a link between an unattended sensor and the command station. In the command station, teams will be given a receiver and signal monitor. The receiver will determine if the link between the sensor and the command station has been established, and how strong the signal is. GPS coordinates will be provided for the unattended sensor, but only to within 75m accuracy. Once the repeater is placed, the strength of the established signal will contribute to the score for this task.

    The UAV’s role in this task is primarily reconnaissance. The UAV can pinpoint the location of supplies or the sensor using a camera. This will provide the rover pilot a better idea of where to go, and the fastest route to take. Up to half of the supplies or astronauts will be placed out of line of sight of the rover, so the UAV’s aerial view will also be greatly beneficial. This aerial vantage point will reduce the time it takes for the task to be completed, which will score more points.

    The rover will pick up and deliver the equipment or repeater in the field. The rover can pick up multiple items at the same time, but has to deliver the correct item to the correct astronaut.</div>
</div>


<br/>
<br/>

