
<br/>
<br/>
<br/>

<div class="row">

  <div class="large-6 small-12 columns">


      <h2>First Semester</h2>

      <h3 class="subheader">Milestone 1</h3>
        <a class="button"><span class="fa fa-file-pdf-o"></span> Project Plan</a>
        <a class="button"><span class="fa fa-file-powerpoint-o"></span> Presentation</a>
        <a class="button"><span class="fa fa-cog"></span> Test Plan</a>
        <a class="button"><span class="fa fa-file"></span> Requirements</a>
      <h3 class="subheader">Milestone 2</h3>
        <a class="button"><span class="fa fa-file-pdf-o"></span> Project Plan</a>
        <a class="button"><span class="fa fa-file-powerpoint-o"></span> Presentation</a>
      <h3 class="subheader">Milestone 3</h3>
        <a class="button"><span class="fa fa-file-pdf-o"></span> Project Plan</a>
        <a class="button"><span class="fa fa-file-powerpoint-o"></span> Presentation</a>


  </div>
  <div class="large-6 small-12 columns">

      <h2>Second Semester</h2>

      <h3 class="subheader">Milestone 4 (Feb 23)</h3>

        <a href="https://docs.google.com/document/d/1EfIIQ9QtU-HhII-UcJ6KezNIMBk1CMOdg33PHyLz8zs/edit?usp=sharing" class="button" href=""><span class="fa fa-file-pdf-o"></span> Project Plan</a>
        <a href="https://drive.google.com/file/d/0B231fh3OieQzMDlZbFlwaER0OEE/view?usp=sharing" class="button" href=""><span class="fa fa-file-powerpoint-o"></span> Presentation</a>

      <h3 class="subheader">Milestone 5 (Mar 23) </h3>




      <h3 class="subheader">Milestone 6 (Apr 20) </h3>


  </div>
</div>

<div class="row">
  <div class="column large-12 small-12">
    <h2>PEOPLE IN THE TEAM</h2>
  </div>
</div>
<br/>
<div class="row">


    <%_.each(users, function(user){%>
  <div class="large-3 small-4 columns">
        <ul class="pricing-table">
          <li class="title"><h4 style="color:white"><%=user.last_name+" "+user.first_name.substr(0,1)+'.'%></h4></li>
          <li class="title"><img src="<%=user.avatar_url%>" /></li>
          <li class="price"><%=user.major%></li>
          <li class="bullet-item"><%=user.email%></li>
          <li class="bullet-item"><%=user.subgroup%></li>
        </ul>
  </div>
      <%})%>


</div>
