<div class="row">
  <div class="small-offset-1 columns small-10">
    <h1>SCIENCE TASK</h1>
    <br/>
    During the science task, our team is expected to retrieve a sample of soil and analyze it.
  </div>
</div>
