


<%
  _.each(sections, function(section){
%>

  <div id="section-<%=section.id%>"
       data-anchor-target="#section-<%=section.id%>"
       data-600-top="background-position:0% 0%;"
       data-bottom="background-position:0% 100%;"
       style="background-image:url('<%= section.bg %>');background-size:20%;background-position: 100% 100%;padding-top:80px;border-bottom-style: dotted;border-top-style: dotted;border-color: black;border-width: 1px;">


    <div class="row">

      <div class="large-2 medium-2 large-offset-1 columns">
         <img src="<%=section.icon%>" style="max-width: 200px"/>
      </div>

      <div class="large-8 medium-8 large-offset-1 medium-offset-1 columns">
        <div class="">
          <h2 style="color:#ff5c00"><%=section.title%></h2>
          <br/>
          <br/>
          <%=section.description%>
          <br/>
          <br/>
          <br/>
          <h4 style="color:#f5f5f5">GROUP MEMBERS:</h4>

          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
            <% _.each(section.members, function(member){
              %>
              <li>

                <img class="th" src="<%=member.avatar_url %>" /><br/>
                <a class="button small expand" href="/user/view/<%=member.id%>"><%=member.first_name%></a>

              </li>
              <%
            })%>
          </ul>
        </div>

      </div>

    </div>
  </div>

<%
});
   %>

