<div id="parallaxTrigger"></div>
<div class="row">
  <div id="task-description" class="large-10 large-offset-1 columns">

    <h1>TERRAIN TRAVERSAL</h1>

  </div>

</div>
<br/>
<br/>

<img src="/img/common/rover.png" data-0="margin-left:0px" data-200="margin-left:1000px;">


<div id="parallaxTrigger"></div>
<div class="row">
  <div id="task-description" class="small-8 small-offset-2 columns">
     Through the terrain traversal task, rovers will have to travel across various terrain surfaces, including but not limited to soft sand, steep slopes, small boulders, and shear drop offs (up to 0.5 m). These environments will test the rover’s maneuverability, stability, and ruggedness as it carries out daily tasks. The competition requires that the rover travel through multiple gates up to 1 kilometer from the starting point. Each team will receive the GPS coordinates of the gates and any required paths the rover must travel. Certain areas will not have marked paths and require the teams to analyze and determine the best possible route for their rover to travel. This is where the UAV will serve an important purpose. Using imaging equipment, the UAV will allow the team to observe from an aerial standpoint possible routes through the terrains listed above. This will allow our team to determine the best option for our rover. Other regulations within this task include a maximum time limit between 30 and 60 minutes, and penalties will be assessed for deviations from marked paths.

  </div>

</div>
<br/>
<br/>
